<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="text-leaf">Textleaf</h1>
        <div class="editor">
            <div class="editor-menu">
                <div class="menu-item" id="js-bold-text"><b>B</b></div>
                <div class="menu-item" id="js-italicize-text"><i>I</i></div>
            </div>
            <div class="editor-area" contenteditable="true">
                
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
</body>
</html>